.container__boxDetail {
  position: absolute;
  width: 345px;
  height: 628px;
  left: 15px;
  top: 97px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.15);
  border: 0.5px solid #c4c4c4;
  border-radius: 3px;
}

.image__boxDetail img {
  width: 305px;
  height: 183px;
  border-radius: 5px;
}

.title__boxDetail {
  width: 305px;
  height: 45px;
  margin-top: 10px;
}

.title__boxDetail h3 {
  width: 132.5px;
  height: 19px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.title__boxDetail p {
  width: 305px;
  height: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-top: 10px;
}

.line__boxDetail {
  width: 305px;
  height: 0px;
  border: 0.5px solid #c4c4c4;
  margin-top: 15px;
}

.description__boxDetail {
  width: 305px;
  height: 61px;
  margin-top: 30px;
}

.description__boxDetail h3 {
  width: 132.5px;
  height: 19px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.description__boxDetail p {
  width: 305px;
  height: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-top: 10px;
}

.category__boxDetail {
  width: 305px;
  height: 45px;
  margin-top: 30px;
}

.category__boxDetail h3 {
  width: 132.5px;
  height: 19px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.category__boxDetail p {
  width: 305px;
  height: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-top: 10px;
}

.status__boxDetail {
  width: 305px;
  height: 51px;
  margin-top: 30px;
}

.status__boxDetail h3 {
  width: 305px;
  height: 19px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.status__boxDetail p {
  width: 77px;
  height: 22px;
  background: rgba(250, 210, 77, 0.15);
  border-radius: 3px;
  padding: 3px 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fad24d;
  margin-top: 13px;
}

.consultation__boxDetail {
  width: 305px;
  height: 68px;
  margin-top: 30px;
}

.consultation__boxDetail h3 {
  width: 305px;
  height: 19px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.consultation__boxDetail a {
  margin-top: 10px;
  width: 147.5px;
  height: 39px;
  background: rgba(196, 196, 196, 0.15);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #c4c4c4;
}

.flex__icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon1 {
  width: 10px;
  height: 15.24px;
}

.icon2 {
  width: 18px;
  height: 18px;
}
