.zidTitle h1 {
  font-size: 50px;
  font-weight: 500;
  color: #47ade7;
  line-height: 58.59px;
  position: absolute;
  top: 58px;
  left: 26px;
  right: 166px;
}
.zidTitle2 h3 {
  font-size: 20px;
  font-weight: 300;
  line-height: 23.44px;
  position: absolute;
  top: 117px;
  left: 29px;
  right: 186px;
}

.alert p:nth-child(1) {
  position: absolute;
  width: 312px;
  height: 44px;
  left: 31px;
  top: 180px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #f63a3a;
}

.alert p:nth-child(2) {
  position: absolute;
  width: 170px;
  height: 12px;
  left: 25px;
  top: 333px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #f63a3a;
}

.alert p:nth-child(3) {
  position: absolute;
  width: 169px;
  height: 12px;
  left: 25px;
  top: 439px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #f63a3a;
}

.container__username h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 18.75px;
  position: absolute;
  top: 254px;
  left: 25px;
}

.container__username input {
  position: absolute;
  width: 325px;
  height: 46px;
  left: 25px;
  top: 283px;
  padding: 15px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

.container__password h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 18.75px;
  position: absolute;
  top: 360px;
  left: 25px;
}

.container__password input {
  padding: 15px;
  position: absolute;
  width: 325px;
  height: 46px;
  left: 25px;
  top: 389px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

.container__lupakatasandi a {
  position: absolute;
  left: 69.07%;
  right: 6.67%;
  top: 60.42%;
  bottom: 37.64%;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: #3b9dce;
}

.button a {
  position: absolute;
  width: 325px;
  height: 46px;
  left: 25px;
  top: 649px;
  right: 25px;
}
button {
  position: absolute;
  width: 325px;
  height: 46px;
  left: 25px;
  top: 649px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  background: #47ade7;
  border-radius: 3px;
  transition: all 400ms ease;
}

button:hover {
  transform: scale(101%);
}
